
/* src/components/NavBar.css */
.navbar {
    background-color: #ff80bf; /* Pink background color */
    padding: 10px 0; /* Add some padding for better spacing */
  }
  
  .navbar ul {
    list-style-type: none; /* Remove bullet points from the list */
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    text-align: center; /* Center align the list items */
  }
  
  .navbar li {
    display: inline-block; /* Display list items horizontally */
    margin-right: 20px; /* Add right margin between list items */
  }
  
  .navbar li:last-child {
    margin-right: 0; /* Remove margin for the last list item */
  }
  
  .navbar a {
    color: #fff; /* White text color */
    text-decoration: none; /* Remove underline from links */
    font-weight: bold; /* Make the text bold */
    font-size: 18px; /* Set the font size */
  }
  
  .navbar a:hover {
    color: #ffe6ff; /* Change text color on hover */
  }
  